#containerSectionFooterMain {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerFooterMain {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 15fr 70fr 15fr;
}

.containerFooterMain:hover {
    /*background-color: #000000;*/
    /*!*color: #ac4a71;*!*/
    /*color: lightgoldenrodyellow;*/
    /*opacity: 0.7;*/
    /*font-size: 0.9rem;*/
    /*box-shadow: 0px 0px 1px 1px #1f130e;*/
}

#containerFooterMainParts {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 9fr 1fr;
}

.footerAuthor-DisplayTextFlex {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footerAuthor-StyleText {
    /*margin: auto 0;*/
    margin: 0;
    padding: 0;
    color: #ac4a71;
    opacity: 0.9;
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width: 600px) {

    /*#containerSectionFooter {*/
    /*    display: grid;*/
    /*    grid-row: 1 / 1;*/
    /*    grid-column: 1 / 1;*/
    /*    grid-template-rows: 1fr;*/
    /*    grid-template-columns: 5fr 90fr 5fr;*/
    /*}*/
    /*.footerAuthor {*/
    /*    font-size: 0.6rem;*/
    /*}*/
}

@media (max-width: 1000px) {

    /*#containerSectionFooter {*/
    /*    display: grid;*/
    /*    grid-row: 1 / 1;*/
    /*    grid-column: 1 / 1;*/
    /*    grid-template-rows: 1fr;*/
    /*    grid-template-columns: 8fr 84fr 8fr;*/
    /*}*/
}

@media (max-device-height: 500px) {

    /*.footerAuthor {*/
    /*    font-size: 0.5rem;*/
    /*}*/
}