:root {
    --colorMain: #ac4a71;
    /*--gameFiledButtonPlayColor: #ac4a71;*/
    --gameFiledButtonPlayColor: black;
}

#containerMainSectionHome {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 6fr 17fr 17fr 3fr 3fr 17fr 17fr 6fr;
    grid-template-columns: 10fr 3fr 17fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 17fr 3fr 10fr;
}

#containerMainHome {
    display: grid;
    grid-row: 2 / 8;
    grid-column: 2 / 14;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /*color: skyblue;*/
}

#containerGameElements {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 6fr 2fr 2fr 2fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-buttonPlay {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerGameFiled-buttonPlay {
    box-shadow: 0 0px 17px 9px #ac4a71;
}

.buttonPlay {
    /*background-color: #e9a610;*/
    background-color: var(--gameFiledButtonPlayColor);
    border: 0;
}

/*button start / stop*/
#containerGameFiled-buttonsMain {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-buttonsMainParts {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.05fr 1fr;
}

#containerGameFiled-buttonsMainStart {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#gameFiledButtonMainStart {
    display: flex;
    align-items: center;
    justify-content: right;
}

.gameFiledButtonMain {
    width: 30%;
    height: 50%;
    border: 0;
    padding: 0;
}

.buttonMainStart {
    background-color: #2c3e3a;
}

#containerGameFiled-buttonsMainStop {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#gameFiledButtonMainStop {
    display: flex;
    align-items: center;
    justify-content: left;
}

.buttonMainStop {
    background-color: #e9a610;
    border: 0;
    padding: 0;
}


#containerGameFiled-statisticsTime {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 0.025fr 1fr 0.025fr;
    grid-template-columns: 1fr repeat(3, 2fr);
}

#containerGameFiled-statisticsTimeBest {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeMin {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeAvg {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeMax {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudBest {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraud {
    display: grid;
    grid-row: 4 / 5;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 0.025fr 1fr 0.025fr;
    grid-template-columns: 1fr 6fr;
}

#containerGameFiled-statisticsFraudCount {
    display: grid;
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudCountText{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudCountGamePlay{
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerGameFiled-commonParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 6fr 4fr;
    grid-template-columns: 1fr;
}

.containerGameFiled-commonGamePlayUpdate {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.commonGameFiledDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commonGamePlayUpdateText {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3e3a;
    width: 100%;
    height: 50%;
    text-align: center;
    border: 0;
    padding: 0;
}

.containerGameFiled-commonStaticText {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.commonStaticText {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3e3a;
    width: 100%;
    height: 50%;
    text-align: center;
    border: 0;
    padding: 0;
}



.gameSnowmanLives{
    background-color: #2c3e3a;
    color: #232323;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 900;
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #1f130e;
}

.gameSnowmanLivesNumber{
    color: #c18ead;
    font-size: 1rem;
    font-weight: 900;
}



















