#containerButtonStart-Main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#buttonStart-StyleDisplayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonStart-Style {
    background-color: #2c3e3a;
    opacity: 0.7;
    border: 0;
    padding: 0;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #1f130e;
}

.buttonStart-Inactive {
    opacity: 0.5;
}

.buttonStart-IconPlay-StyleBeforeClick {
    color: #FFFFFF;
    font-size: 1.3rem;
}

.buttonStart-IconPlay-StyleAfterClick {
    color: #e9a610;
    font-size: 1.7rem;
}