#containerFooter-Main {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerFooter-MainParts {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 9fr 1fr;
}