#containerAuthor-Main {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.author-StyleDisplayFlex {
    display: flex;
    align-items: center;
    justify-content: left;
}

.author-StyleText {
    /*margin: auto 0;*/
    margin: 0;
    padding: 0;
    color: #ac4a71;
    opacity: 0.9;
    font-size: 0.8rem;
    font-weight: 500;
}