#buttonGame-DisplayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGame-Style-BackgroundColor {
    background-color: var(--cssButtonGameStyleBackgroundColor);
}