#containerStatisticsFraud-main {
    display: grid;
    grid-row: 6 / 7;
    grid-column: 2 / 10;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraud-mainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 2fr 8fr;
}