#containerConfiguration-Main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerConfiguration-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr  9fr;
}

#containerConfigurationDecorationIcon-Main {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.configurationDecorationIcon-DisplayIconFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-screwdriver-wrench {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 600;
    font-size: 1.8rem;
    text-shadow: 0px 0px 40px #EC7998;
}

#containerConfigurationRound-Main {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerConfigurationRound-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

#containerConfigurationRound-Main-Row-0 {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerConfigurationRound-MainParts-Row-0 {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerConfigurationRound-Main-Row-1 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerConfigurationRound-MainParts-Row-1 {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
