/*#containerGameFiled-buttonsMainStart {*/
#containerButtonStart-Main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}


/*#gameFiledButtonMainStart {*/
#buttonStart-DisplayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.gameFiledButtonMain {*/
.buttonStart-Style {
    background-color: #2c3e3a;
    opacity: 0.7;
    /*width: auto;*/
    /*height: auto;*/
    border: 0;
    padding: 0;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #1f130e;
}

.gameFiledButtonMain-inactive {
    opacity: 0.5;
}


/*.fa-playGameAction-beforeClick {*/
.buttonStart-IconPlay-StyleBeforeClick {
    color: #FFFFFF;
    /*opacity: 0.7;*/
    font-size: 1.3rem;
}

/*.fa-playGameAction-afterClick {*/
.buttonStart-IconPlay-StyleAfterClick {
    color: #e9a610;
    /*opacity: 1;*/
    /*font-size: 1.3rem;*/
    font-size: 1.7rem;
}