#containerConfiguration-Main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerConfiguration-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr  9fr;
}

#containerConfigurationRound-Main {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerConfigurationRound-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.configurationRound-StyleDisplayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonRound-Style {
    border: none;
    background-color: #2c3e3a;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 0px;
    font-size: 0.8rem;
    font-weight: 200;
    border-radius: 0.45rem;
    /*box-shadow: 0px 0px 1px 1px #2a1e1e;*/
}

.buttonRound-CurrentNumber {
    border-radius: 0.45rem;
    box-shadow: 0px 0px 3px 1px #FFFFFF;
    opacity: 0.8;
}

.buttonRound-ChosenNumber {
    color: #e9a610;
    opacity: 1;
    box-shadow: 0px 0px 3px 1px #e9a610;
}