#containerStatisticsFraudSummary-Main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraudSummary-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraudSummary-TotalValueMain {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.statisticsFraudSummaryTotalValue-StyleDisplayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statisticsFraudSummaryTotalValue-StyleText {
    margin: 0;
    padding: 0;
    opacity: 0.8;
    color: #FF7E00;
    font-size: 1.2rem;
}

#containerStatisticsFraudSummary-IconsMain {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.statisticsFraudSummaryIcons-StyleDisplayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-gem {
    color: lightgoldenrodyellow;
    opacity: 0.9;
    font-size: 1.0rem;
}

.fa-whiskey-glass {
    color: #FFFFFF;
    opacity: 0.9;
    font-weight: 600;
    font-size: 1.0rem;
}

.fa-whiskeyGlassMain {
    color: #FFFFFF;
    opacity: 0.8;
    font-weight: 600;
    font-size: 1.5rem;
}