#containerStatisticsFraud-Main {
    display: grid;
    grid-row: 6 / 7;
    grid-column: 2 / 10;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraud-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 1fr 6fr;
}







#containerStatisticsFraudCounter-Main {
    display: grid;
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraudCounter-MainParts {
    display: grid;
    grid-row: 1/ 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraudCounterRound-Main {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraudCounterRound-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.statisticsFraudCounterRound-DisplayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statisticsFraudCounterRound-StyleValueSumPerRound {
    margin: 0;
    padding: 0;
    opacity: 0.8;
    color: #FF7E00;
    font-size: 0.8rem;
}

#containerStatisticsFraudCounterName-DisplayTextMain {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsFraudCounterName-DisplayTextMainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.statisticsFraudCounterName-DisplayNameFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statisticsFraudCounterName-StyleText {
    margin: 0;
    padding: 0;
    color: #FF7E00;
    opacity: 0.8;
    font-size: 0.9rem;
    font-weight: 200;
}