#containerMenu-Main {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenu-MainParts {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 20fr 70fr 10fr;
    grid-template-columns: 0fr 30fr 70fr 0fr;
}

@media (max-width: 600px) {

}

@media (max-width: 1000px) {

}

@media (max-device-height: 500px) {

}