#containerHome-Main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerHome-MainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows:
            5fr
            28fr 4fr

            10fr 4fr

            20fr 4fr

            20fr 5fr;

    grid-template-columns:
            00fr 20fr 10fr 10fr
            10fr 10fr
            10fr 10fr 20fr 0fr;
}