#containerStatisticsTimeSummary-main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsTimeSummary-mainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    /*grid-template-rows: 3fr 2fr;*/
    /*grid-template-columns: 0fr 90fr 10fr;*/
    grid-template-rows: 0fr 3fr 2fr 0fr;
    grid-template-columns: 0fr 90fr 10fr;
}

#containerStatisticsTimeSummary-background-main {
    display: grid;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerStatisticsTimeSummary-background-mainParts {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.statisticsTimeSummary-background-style-base {
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0 0 1px 1px #e9a610;
    opacity: 0.6;
}

#containerStatisticsTimeSummary-bestValue-main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.statisticsTimeSummary-bestValue-styleText {
    margin: 0;
    padding: 0;
    opacity: 0.9;
    color: #e9a610;
    font-weight: 600;
    font-size: 2.2rem;
}

#containerStatisticsTimeSummary-iconsMain {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.statisticsTimeSummary-styleFlexCenter-update {
    gap: 8px;
}

.fa-starTimeSummary {
    color: #e9a610;
    font-size: 1.1rem;
}

.fa-clockTimeSummary {
    color: #e9a610;
    font-size: 1.9rem;
}